body{
	margin: 0;
}
.header{
	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 48px;
	padding: 30px 0;
	font-family: monospace;
}
.strong_header{
color:#3E45E8;
}
.ukraine-header{
color:#E8C23E;
}
.baner{
	background-image:url("../img/img\ прапор.png"), url("../img/bg.png ");
	width: 1440px;
	height: 766px ;
	background-size: 20px,contain;
	background-repeat: no-repeat;
	background-position: 6% 46%,left;
	margin: auto;
}
.baner_text{
	color:#fff;
	font-size: 42px;
	width: 845px;
	line-height: 157.3%;
	display: inline-block;
	font-family: monospace;
	font-weight: 700;
	padding-top: 16%;
	padding-left: 10%;
}
.subtutle{
	color: #000;
	font-family: monospace;
	font-size: 40px;
	font-weight: 700;
	height: 50px;
	width: 90%;
	padding: 30px 0px 17px 145px;
}
.flag{
	background-image: url("../img/img\ прапор\ горизонт.png");
	transform: rotate(0deg);
	width: 770px;
	height: 12px;
	background-repeat: no-repeat;
}
.card{
	display: inline-block;
	padding-top: 0px;
	border: 5px solid #0D095F;
	border-radius: 30px;	
	width: 20%;
	margin-top: 2%;

}
.card > img{
	width: 100%;
}
.m-l-r10{
	margin-left: 10%;
	margin-right: 10%;
}
.m-l-8{
	margin-left: 9%;
}
.color_name{
	color:#0072DB;
}
.color_description{
	color:#F90;
}
.ukraine_winner{
	color:#000;
	font-family: monospace;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	padding: 25px;
}
.strip{
	text-align: center;
}
.mapa{
	text-align: center;
	padding: 3%;
}
.foto_go{
text-align: center;
	
}
.go{
	font-size: 64px;
	color: #fff;
	position: absolute;
	font-weight: 700;
	padding-left: 200px;
	
}
.footer{
	background-image: url("../img/Rectangle\ 7.png");
	margin: 0 auto;
   height: 233px;
   text-align: center;
	margin-top: 30px;
}
.footer_strong{
color:#3E45E8;
font-size: 48px;

}
.footer_UKRAINE{
color:#DFE31E;
font-size: 48px;
}
.post{
	color:#A89D9D;
	font-size: 36px;
	font-weight: 400;
	margin-top: -17px;
   
}
a:link{
	text-decoration: none;
}
.phone{
	color:#A89D9D;
	font-size: 36px;
	font-weight: 400;
	
   margin-top: -15px;
}
.vector{
	letter-spacing: 20px;
	
}